<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконала Тракало Анастасія КН-31, Варіант №10</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Знайдіть кількість
        парних чисел які при
        ділені на 3 дають в
        остачі 2 на заданому
        проміжку чисел [a,b]
      </p>
      <ion-item>
        <ion-label>
          <ion-input id="a" #a label="Start value" labelPlacement="floating" placeholder="Enter number a:"></ion-input>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-input id="b" #b label="End value" labelPlacement="floating" placeholder="Enter number b:"></ion-input>
        </ion-label>
      </ion-item>
      <ion-button shape="round" (click)="calculateCount(a.value, b.value)">Calculate</ion-button>
      <ion-item>
        <p>Result: {{result}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>