<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконала Тракало Анастасія КН-31, Варіант №10</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Задано три числа.
        Знайти кількість тих
        з них, які кратні 27.
      </p>
      <ion-item>
        <ion-label>
          <ion-input id="num1" #number1 label="Number 1" labelPlacement="floating"
            placeholder="Enter number 1"></ion-input>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-input id="num2" #number2 label="Number 2" labelPlacement="floating"
            placeholder="Enter number 2"></ion-input>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-input id="num3" #number3 label="Number 3" labelPlacement="floating"
            placeholder="Enter number 3"></ion-input>
        </ion-label>
      </ion-item>
      <ion-button shape="round"
        (click)="calculateMultiples(number1.value, number2.value, number3.value)">Calculate</ion-button>
      <ion-item>
        <p>Count of numbers that are multiples of 27: {{result}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>