<app-header name="Лабораторна робота №10"></app-header>
<ion-content [fullscreen]="true">
  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>Specialty</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Current Specialty: <span style="color: yellow;">{{specialty.name}}</span></h2>
        </ion-label>
        <ion-button color="dark" (click)="editSpecialtyShow()">
          <ion-icon name="pencil-outline"></ion-icon>
          Edit
        </ion-button>
        <ion-button color="dark" (click)="deleteSpecialty()">
          <ion-icon name="trash-bin-outline"></ion-icon>
          Delete
        </ion-button>
      </ion-item>
      <ion-button color="dark" (click)="nextSpecialty()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
        Next Specialty
      </ion-button>
    </ion-card-content>

    <ion-button color="dark" (click)="addSpecialtyShow()">
      <ion-icon name="add-outline"></ion-icon>
      Add New Specialty
    </ion-button>
    <ion-button color="dark" (click)="addStudentShow()">
      <ion-icon name="add-outline"></ion-icon>
      Add New Student
    </ion-button>
    <!-- editing or adding a new specialty -->
    <ion-item *ngIf="showNewSpecialty || showEditSpecialty">
      <ion-label position="stacked">Input New Specialty</ion-label>
      <ion-input [formControl]="specForm"></ion-input>
      <ion-button color="dark" (click)="addSpecialty()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        Save</ion-button>
    </ion-item>
    <!-- adding a new student -->
    <app-student-add *ngIf="showNewStudent" [id]="studentList.studentList[studentList.studentList.length-1].id"
      [spec_id]="specialty.id" (studentChange)="addStudent($event)"></app-student-add>
  </ion-card>

  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>Students</ion-card-title>
    </ion-card-header>
    <!-- editing a student -->
    <app-student-edit *ngFor="let student of studentList.searchStudent; let j = index" [student]="student"
      [fbService]="fbservice" (del)="deleteStudent($event)"></app-student-edit>
  </ion-card>
</ion-content>