<app-header name="Лабораторна робота №10"></app-header>
<!-- <ion-content [fullscreen]="true">
  <ion-item>
    <ion-button (click)="nextSpecialty()">Next Specialty:</ion-button>
    <ion-label>
      Current Specialty Selected:
    </ion-label>
    <ion-label>
      {{specialty.name}}
    </ion-label>
  </ion-item>
  <ion-card *ngFor="let student of studentList.searchStudent; let j = index">
    <ion-item>{{student.firstName}}</ion-item>
    <ion-item>{{student.lastName}}</ion-item>
    <ion-item>{{student.group}}</ion-item>
    <ion-item>{{student.studentId}}</ion-item>
    <ion-item>{{student.gpa}}</ion-item>
  </ion-card>
  <ion-item>
    <ion-label position="stacked">Input new Specialty:</ion-label>
    <ion-input #inputSpecialty></ion-input>
    <ion-button (click)="addSpecialty(inputSpecialty.value)">Add Specialty</ion-button>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Student</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label position="stacked">Input Name:</ion-label>
      <ion-input #inputName></ion-input>
      <ion-label position="stacked">Input Last Name:</ion-label>
      <ion-input #inputLastName></ion-input>
      <ion-label position="stacked">Input Group:</ion-label>
      <ion-input #inputGroup></ion-input>
      <ion-label position="stacked">Input Student ID:</ion-label>
      <ion-input #inputId></ion-input>
      <ion-label position="stacked">Input GPA:</ion-label>
      <ion-input #inputGPA></ion-input>
      <ion-button
        (click)="addStudent(inputName.value, inputLastName.value, inputId.value, inputGroup.value, inputGPA.value)">
        Add Student
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content> -->

<ion-content [fullscreen]="true">
  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>Specialty</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Current Specialty: <span style="color: yellow;">{{specialty.name}}</span></h2>
        </ion-label>
        <ion-button color="dark" (click)="editSpecialtyShow()">
          <ion-icon name="pencil-outline"></ion-icon>
          Edit
        </ion-button>
        <ion-button color="dark" (click)="deleteSpecialty()">
          <ion-icon name="trash-bin-outline"></ion-icon>
          Delete
        </ion-button>
      </ion-item>
      <ion-button color="dark" (click)="nextSpecialty()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
        Next Specialty
      </ion-button>
    </ion-card-content>

    <ion-button color="dark" (click)="addSpecialtyShow()">
      <ion-icon name="add-outline"></ion-icon>
      Add New Specialty
    </ion-button>
    <ion-button color="dark" (click)="addStudentShow()">
      <ion-icon name="add-outline"></ion-icon>
      Add New Student
    </ion-button>
    <ion-item *ngIf="showNewSpecialty || showEditSpecialty">
      <ion-label position="stacked">Input New Specialty</ion-label>
      <ion-input [formControl]="specForm"></ion-input>
      <ion-button color="dark" (click)="addSpecialty()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        Save</ion-button>
    </ion-item>
    <app-student-edit *ngIf="showNewStudent" [id]="studentList.studentList[studentList.studentList.length-1].id"
      [spec_id]="specialty.id" (studentChange)="addStudent($event)"></app-student-edit>
  </ion-card>

  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>Students</ion-card-title>
    </ion-card-header>
    <app-student *ngFor="let student of studentList.searchStudent; let j = index" [student]="student"
      [fbService]="fbservice" (del)="deleteStudent($event)"></app-student>
  </ion-card>
</ion-content>