<app-header name="Лабораторна робота №6"></app-header>
<ion-content fullscreen="True">
    <ion-card>
        <ion-card-header>
            <ion-title>Завдання</ion-title>
            <p>Ієрархія класів: </p>
            <p>Документ, накладна, рахунок, квитанція</p>
        </ion-card-header>
        <ion-card-content>
            <ion-button color="dark" (click)="getResult()">Calculate</ion-button>
            <ion-item>
                <pre>{{show}}</pre>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>